streamlit==1.35.0
langchain==0.2.1
langchain-community==0.2.1
langchain-groq==0.1.4
faiss-cpu==1.7.4
python-dotenv==1.0.1
PyPDF2==3.0.1
sentence-transformers==2.6.1
s3fs==2023.4.0
fsspec==2023.4.0
tqdm==4.66.4
pymongo==4.7.2